.content-wrap {
  width: 100%;
  max-width: 1280px;
  max-width: var(--content-wrap);
  margin: 0 auto;
  padding: 0 var(--content-margin);
}

.hide {
  display: none;
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: stretch;
  width: 100%;
  gap: var(--content-margin);
}

.row + .row {
  margin-top: var(--content-margin);
}

.column {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.column-double {
  flex-basis: 0;
  flex-grow: 2;
  flex-shrink: 1;
}

@media (min-width: 768px) {
  .row {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
