h1 {
  font-size: 3rem;
  line-height: 3rem;
}

h2,
h3,
h4 {
  margin-bottom: 1.3rem;
}

h2 {

}

h3 {

}

h4 {

}

p {

}

p + p {
  margin-top: 1.3rem;
}

p a {
  color: var(--color-brand-primary);
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
