.beware-of-ie {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: #0d3b66;
  background-image: linear-gradient(45deg, #e6e6e6, #f6f6f6);
  perspective: 600px;
  transform-style: preserve-3d;
  z-index: 9999;
  animation: ratz 2s ease;
}

.beware-of-ie-content {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 720px;
  text-align: center;
  transform: translate(-50%, -50%);
}

.beware-of-ie p {
  font-size: 24px;
  line-height: 36px;
  font-family: "Roboto Slab", "Roboto", "Fira Sans", Helvetica, Arial, sans-serif;
}

.beware-of-ie p + p {
  margin-top: 24px;
}

.beware-of-ie .alternatives {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 36px;
}

.beware-of-ie .alternatives .alternative {
  display: block;
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transition: transform .3s;
}

.beware-of-ie .alternatives .alternative + .alternative {
  margin-left: 24px;
}

.beware-of-ie .alternatives .alternative:hover {
  transform: scale(1.03);
}

.beware-of-ie .alternatives .alternative span {
  display: none;
}

.beware-of-ie .alternatives .alternative-firefox {
  background-image: url(../../img/beware-of-ie/beware-of-ie-alternative-firefox.svg);
}

.beware-of-ie .alternatives .alternative-chrome {
  background-image: url(../../img/beware-of-ie/beware-of-ie-alternative-chrome.svg);
}

.beware-of-ie .alternatives .alternative-opera {
  background-image: url(../../img/beware-of-ie/beware-of-ie-alternative-opera.svg);
}

.beware-of-ie .alternatives .alternative-edge {
  background-image: url(../../img/beware-of-ie/beware-of-ie-alternative-edge.svg);
}

@keyframes ratz {
  0% {
    transform: translateY(-100vh);
  }

  100% {
    transform: translateY(0);
  }
}
