.club-status {
  display: block;
  color: var(--color-white);
  opacity: 0;
  cursor: help;
  transition: opacity 1.2s;
}

.club-status::before {
  content: '';
  display: block;
  padding: 2px 6px;
}

.club-status-opened,
.club-status-closed {
  opacity: 1;
}

.club-status-opened::before {
  content: 'geöffnet';
  background-color: var(--color-status-positive);
}

.club-status-closed::before {
  content: 'geschlossen';
  background-color: var(--color-status-negative);
}

@media (min-width: 840px) {
  .club-status::before {
    padding: 4px 10px;
  }
}
