footer {
  padding: 30px 0; /* IE11 fallback */
  padding: var(--content-margin) 0;
  background-color: var(--color-white);
}

footer ul {

}

footer ul::before,
footer ul::after {
  content: '';
  display: block;
  clear: both;
}

footer ul li {
  display: block;
  float: left;
}

footer ul li + li {
  margin-left: 30px; /* IE11 fallback */
  margin-left: var(--content-margin-half);
}

footer ul li a {
  color: #ea5b0c; /* IE11 fallback */
  color: var(--color-brand-primary);
  text-decoration: none;
}
