* {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  box-sizing: border-box;
}

html {
  color: var(--color-main-text);
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 1.3;
}

body {
  min-height: 100vh;
  background-color: var(--color-main-background);
}

section + section {
  margin-top: 30px; /* IE11 fallback */
  margin-top: var(--content-margin);
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
