header {
  padding: var(--content-margin) 0;
  background-color: var(--color-white);
}

header .content-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

header .content-wrap .title::before,
header .content-wrap .title::after {
  content: '';
  display: block;
  clear: both;
}

header .logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: var(--content-margin);
}

header .title * {
  float: left;
}

header .title * + * {
  margin-left: var(--content-margin);
}

header img {
  width: auto;
  height: 3rem;
}

header a {
  color: var(--color-main-text);
  text-decoration: none;
}
