header {
  padding: var(--content-margin) 0;
  background-color: var(--color-white);
}

header .content-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

header .content-wrap .title::before,
header .content-wrap .title::after {
  content: '';
  display: block;
  clear: both;
}

header .logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: var(--content-margin);
}

header .title * {
  float: left;
}

header img {
  display: none;
  width: auto;
  height: 3rem;
}

header a {
  color: var(--color-main-text);
  text-decoration: none;
}

@media (min-width: 380px) {
  header img {
    display: block;
  }

  header .title * + * {
    margin-left: var(--content-margin);
  }
}

@media (min-width: 768px) {
  header .content-wrap {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
}
