nav {

}

nav ul {

}

nav ul::before,
nav ul::after {
  content: '';
  display: block;
  clear: both;
}

nav ul li {
  display: block;
  float: left;
}

nav ul li + li {
  margin-left: var(--content-margin-half);
}

nav ul li a {
  color: var(--color-brand-primary);
  text-decoration: none;
}
