img {
  border: none;
}

figure img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

figure figcaption {
  margin-top: .8rem;
}

.copyright-info {
  float: right;
  font-size: 12px;
  left: -6px;
  position: relative;
  top: -20px;
}

.copyright-info > a {
  color: var(--color-white);
  opacity: 0.75;
  text-decoration: none;
}

.aspect-ratio-4-to-3 {
  aspect-ratio: 32 / 9;
}

.aspect-ratio-16-to-9 {
  aspect-ratio: 32 / 9;
}

.aspect-ratio-24-to-9 {
  aspect-ratio: 32 / 9;
}

.aspect-ratio-32-to-9 {
  aspect-ratio: 32 / 9;
}

@media (min-width: 768px) {
  .aspect-ratio-4-to-3 {
    aspect-ratio: 4 / 3;
  }
  .aspect-ratio-16-to-9 {
    aspect-ratio: 16 / 9;
  }
  .aspect-ratio-24-to-9 {
    aspect-ratio: 24 / 9;
  }
}
