nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: calc(var(--content-margin) / 2);
}

nav ul li {
  position: relative;
  display: block;
  float: left;
}

nav ul li a {
  position: relative;
  display: block;
  padding: 2px 6px;
  color: var(--color-white);
  background-color: var(--color-brand-primary);
  text-decoration: none;
  z-index: 1;
  transition: background-color .2s;
}

nav ul li a:hover {
  background-color: var(--color-brand-secondary);
}

@media (min-width: 840px) {
  nav ul li a {
    padding: 4px 10px;
  }
}
