.sponsors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
}

.sponsors .sponsor {
  width: auto;
  max-width: 120px;
  height: auto;
  list-style-type: none;
}

.sponsors .sponsor picture {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.sponsors .sponsor img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
