table,
tr,
th,
td {
  border: solid 1px var(--color-grey-2);
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  background-color: var(--color-background-main);
}

tr:nth-of-type(2n+1) {
  background-color: var(--color-grey-1);
}

th,
td {
  padding: 4px 8px;
  text-align: left;
}

#events {
  width: 100%;
}

#events th.small {
  width: 10%;
}

#events th.medium {
  width: 20%;
}

#events th.large {
  width: 40%;
}

#events a {
  color: var(--color-brand-primary);
}